@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */
.display-flex{
    display: flex;
}

.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary{
    background-color: #FF900E;
    color: white;
    border-radius: 8px;
    padding: 20px 25px;
    font-size: 20px;
    font-weight: 600;
    border: none;
}
main{
    max-width: 1200px;
    margin: 0 auto;
}
main > section{
    margin-top: 130px;
}
#list1{
    color: rgba(114, 114, 114, 1);
    font-size: 45px;
    font-weight: 500;
}
#list2{
    color: black;
    font-size: 45px;
    font-weight: bold;
}
#list3{
    color: #FF900E;
    font-size: 45px;
    font-weight: bold;
}
.section-title{
    font-size: 2.8rem;
    font-weight: 700;
}

/* dark 02 */
.text-gray{ 
    color: rgba(66, 66, 66, 1);
}
/* dark 03 */
.text-light-gray{
    color: rgba(114, 114, 114, 1)
}


/* header styles */


/* nav related styles */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-weight: bold;
    font-size: 3rem;
}
.nav-item{
    list-style: none;
    margin-right: 40px;

}

.nav-link{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

.navbar, .banner{
    max-width: 1200px;
    margin: 0 auto;
}

/* banner related content */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title{
    font-weight: bold;
    font-size: 4rem;
}

.banner-image{
    max-width: 100%;
}
/* team and feature related */
.teams{
    align-items: center;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.our-features{
    margin-left: 130px;
    max-width: 530px;
}
.feature-description{
    color: rgba(114, 114, 114, 1);
    font-size: 16px;
    font-weight: 400;
}
/* some facts related styles */
.fact-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.fact-card{
    border: 2px solid #FF900E;
    border-radius: 8px;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}
.fact-icon{
    height: 45px;
    width: 45px;
    margin-top: 45px;
    margin-bottom: 5px;
}
.fact-description{
    max-width: 540px;
    margin-bottom: 100px;
    margin-top: 24px;
}


/* responsive media query */
@media screen and (max-width: 720px) {
    .navbar, .nav-links, .teams {
        flex-direction: column;
    }

    .team-img-container{
        grid-template-columns: repeat(1, 1fr);
    }
}
.our-features{
    margin: 20px;
}

/* medium sized device */
@media screen and (min-width: 720px) and (max-width: 970px) {
    .teams{
        flex-direction: column;
    }
    .our-features{
        margin: 20px 50px;
    }
}